---
import { myServices } from "@data/myServices";
import { Image } from "astro:assets";
import { twMerge } from "tailwind-merge";
---

<section
  id="services"
  class="min-h-screen px-4 pb-8 text-center bg-white mx-auto max-w-[90%] laptop:max-w-[85%]"
>
  <header class="flex flex-col items-center text-center">
    <h2 class="text-4xl font-bold mb-3 tablet:text-4xl laptop:text-5xl">
      Soluciones digitales hechas para destacar
    </h2>
    <p class="mb-8 text-gray-600 prose-sm laptop:max-w-4/5">
      Potencio tu marca con soluciones digitales personalizadas, combinando
      rendimiento, usabilidad y diseño impactante.
    </p>
  </header>

  <div class="grid grid-cols-12 gap-4">
    {
      myServices.map((service) => (
        <div
          class={twMerge(
            "relative rounded-xl  col-span-12 flex flex-col overflow-hidden hover:cursor-pointer min-h-[25rem] max-h-[28rem] tablet:max-h-[32rem] laptop:h-[30rem] ",
            service.classCard
          )}
          data-aos="fade-up"
          data-aos-delay={service.delay}
        >
          <header class={twMerge("p-6 mb-2", service.classHeader)}>
            <h3 class=" font-medium  mb-2 text-gray-700 text-lg">
              <span class="rounded-full bg-white p-2">{service.emoji}</span>{" "}
              {service.title}
            </h3>
            <p class="text-xl font-medium  ">{service.description}</p>
          </header>
          <div
            class={twMerge(
              "flex justify-end items-center flex-1 relative overflow-hidden pl-6",
              service.classContainerImage
            )}
          >
            <Image
              src={service.urlImg}
              alt="image service"
              class={twMerge(
                "w-full h-full object-cover object-center",
                service.classImage
              )}
              data-aos="fade-up"
            />
          </div>
        </div>
      ))
    }
  </div>
</section>
