---
import { Image } from "astro:assets";
import LaptopAboutMe from "@assets/img-about.webp";
import Avatar from "@assets/my-avatar.png";
import { aboutMeData } from "@data/aboutMe";
import { Icon } from "astro-icon/components";
---

<section
  class="relative px-6 py-12 bg-alx-50 mx-auto rounded-xl max-w-[90%] laptop:max-w-[85%]"
>
  <Image
    src={Avatar}
    alt="img-my-avatar.png"
    class="w-16 h-16 rounded-xl object-cover object-center absolute top-0 right-4 z-40"
    data-aos="fade-in"
  />
  <header
    class="relative laptop:flex laptop:items-center laptop:justify-between laptop:gap-4"
  >
    <div class="laptop:w-[60%]">
      <span class="font-medium laptop:px-8" data-aos="fade-in">¿Quién es?</span>
      <h2
        class="font-bold text-xl mb-2 laptop:text-2xl laptop:px-8"
        data-aos="fade-in"
      >
        Alexis Chim
      </h2>
      <div
        class="text-black text-lg tablet:text-xl laptop:text-2xl laptop:px-8"
        data-aos="fade-in"
      >
        <p>
          Cuento con formación en ingeniería en sistemas y soy orgullosamente
          mexicano.
        </p>
        <p class="my-2">
          Me encanta la tecnología y el diseño. Me gusta crear soluciones
          digitales que conectan con la gente, uniendo lo técnico con lo
          creativo para lograr sitios web rápidos, accesibles y con estilo.
        </p>
        <p>
          Para mí, cada proyecto es la chance de hacer algo útil, humano y que
          deje huella.
        </p>
      </div>
    </div>

    <div class="mt-6 laptop:mt-0 overflow-hidden laptop:h-80 laptop:w-[50%]">
      <Image
        src={LaptopAboutMe}
        alt="img-about-me"
        class="rounded-xl my-6 w-full h-full object-cover object-center laptop:my-0"
        data-aos="fade-in"
      />
    </div>
  </header>
  <section
    class="laptop:grid laptop:grid-cols-3 border-t border-gray-200 laptop:mt-6"
  >
    {
      aboutMeData.map((item, index) => (
        <div
          class={`mb-4 p-4 laptop:mb-0 laptop:p-8
          ${index >= 3 ? "laptop:border-t laptop:border-gray-200" : ""}
        `}
          data-aos="fade-up"
        >
          <div class="hover:cursor-pointer hover:scale-105 transition-transform duration-300">
            <header class="flex items-center  mb-2">
              <Icon name={item.icon} class="h-8 w-8 mr-2 transition-colors" />
              <h3 class="font-semibold">{item.title}</h3>
            </header>
            <p class="text-gray-700 text-sm">{item.description}</p>
          </div>
        </div>
      ))
    }
  </section>
</section>
