---
const { exp, numberProject } = Astro.props;
---

<article
  class="tablet:sticky tablet:top-4 snap-center bg-gradient-to-tr from-alx-50 to-alx-100 rounded-2xl px-6 py-8 mx-auto overflow-hidden flex flex-col tablet:flex-row tablet:items-center tablet:text-start gap-6 snap-always mt-4"
  class:list={{
    "tablet:mt-0": numberProject === 1,
    "mt-8 tablet:mt-24 laptop:mt-36": numberProject > 1,
  }}
  tabindex="0"
  data-aos="fade-up"
  data-aos-once="false"
  data-aos-delay={numberProject * 100}
  data-aos-duration="800"
>
  <!-- Número enumerado -->
  <div class="w-full flex justify-center items-center tablet:w-[20%]">
    <div
      class="z-20 aspect-square bg-alx-200 border-2 border-alx-600 rounded-full flex-none flex justify-center items-center w-16 relative"
    >
      <span class="font-poppins text-[1.75rem] font-bold">
        {numberProject}
      </span>

      <!-- Líneas decorativas -->
      <div
        class="bg-alx-600 absolute w-[15rem] h-[2px] left-[115%]
               tablet:w-[2px] tablet:h-[10rem] tablet:bottom-[115%] tablet:left-auto"
        aria-hidden="true"
      >
      </div>
      <div
        class="bg-alx-600 absolute w-[15rem] h-[2px] right-[115%]
               tablet:w-[2px] tablet:h-[10rem] tablet:top-[115%] tablet:right-auto"
        aria-hidden="true"
      >
      </div>
    </div>
  </div>

  <!-- Contenido principal -->
  <div
    class="w-full flex flex-col justify-center items-center laptop:items-start"
  >
    <!-- Badge -->
    <header
      data-slot="badge"
      class="bg-alx-200 inline-flex items-center justify-center font-medium w-fit
             whitespace-nowrap shrink-0 py-1 px-3 rounded-full uppercase gap-2 sm:px-4
             text-xs sm:text-sm text-alx-500"
    >
      <span class="relative flex h-2 w-2" aria-hidden="true">
        <span class="relative inline-flex rounded-full h-2 w-2 bg-alx-500"
        ></span>
      </span>
      <span class="font-medium">{exp.role}</span>
      <img
        src="/icons/lightning.svg"
        alt="Icono representando energía y dinamismo"
        class="h-3 w-3"
        loading="lazy"
      />
    </header>

    <h3 class="text-2xl font-medium text-gray-900 mb-2 leading-snug">
      {exp.title}
    </h3>

    <p class="text-gray-900 leading-snug">{exp.description}</p>

    <!-- Lista de logros -->
    {
      Array.isArray(exp.steps) && exp.steps.length > 0 && (
        <ul class="mt-4 list-disc list-inside text-gray-800 space-y-1">
          {exp.steps.map((step: string) => (
            <li>{step}</li>
          ))}
        </ul>
      )
    }
  </div>
</article>
