---
import { myServices } from "@data/myServices";
import { Image } from "astro:assets";
import { twMerge } from "tailwind-merge";
import ContainerCenter from "./ContainerCenter.astro";
import MyTitle from "./MyTitle.astro";
---

<section
  id="services"
  aria-labelledby="services-title"
  class="flex justify-center items-center text-center bg-white"
>
  <ContainerCenter>
    <header class="flex flex-col items-center text-center mb-8">
      <div
        class="bg-alx-100 inline-flex items-center justify-center font-medium w-fit whitespace-nowrap shrink-0 py-2 px-3 rounded-full uppercase overflow-hidden gap-2 sm:px-4 text-xs sm:text-sm text-alx-900"
      >
        Potencio tu marca o negocio con.
      </div>
      <MyTitle idTitle="services-title">
        Soluciones digitales hechas para destacar
      </MyTitle>
    </header>

    <div class="grid grid-cols-12 gap-4">
      {
        myServices.map((service) => (
          <div
            class={twMerge(
              "relative rounded-xl col-span-12 flex flex-col overflow-hidden hover:cursor-pointer min-h-[25rem] max-h-[28rem] text-start tablet:max-h-[32rem] laptop:h-[30rem]",
              service.classCard
            )}
          >
            <header class={twMerge("p-6 mb-2", service.classHeader)}>
              <h3 class="font-medium mb-2 text-gray-700 flex items-center gap-2">
                <span class="rounded-full bg-white p-2" aria-hidden="true">
                  {service.emoji}
                </span>
                {service.title}
              </h3>
              <p class="text-xl font-medium text-gray-800">
                {service.description}
              </p>
            </header>
            <div
              class={twMerge(
                "flex justify-end items-center flex-1 relative overflow-hidden pl-6",
                service.classContainerImage
              )}
            >
              <Image
                src={service.urlImg}
                alt={service.alt ?? `Imagen del servicio ${service.title}`}
                width={800}
                height={600}
                format="webp"
                loading="lazy"
                decoding="async"
                class={twMerge(
                  "w-full h-full object-cover object-center",
                  service.classImage
                )}
              />
            </div>
          </div>
        ))
      }
    </div>
  </ContainerCenter>
</section>
